@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg-color: #1e87f0;

  --header-height: 40px;
  --footer-height: 30px;

  --content-height: calc(100vh - var(--header-height) - var(--footer-height));
  --sidebar-width: 250px;
  --min-width-tablet: 1024px;
}


@media (min-width: 1024px) {
  :root {
    --content-height: calc(100vh - var(--footer-height));
  }
}

@layer base {
  body {
  }
}

label {
  @apply italic;
}

#app {
}
