@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg-color: #1e87f0;

  --header-height: 40px;
  --footer-height: 30px;

  --content-height: calc(100vh - var(--header-height) - var(--footer-height));
  --sidebar-width: 250px;
  --min-width-tablet: 1024px;
}

@media (min-width: 1024px) {
  :root {
    --content-height: calc(100vh - var(--footer-height));
  }
}

@layer base {
  body {
  }
}

label {
  @apply italic;
}

#app {
}

.SvgImage {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.form-input {
  @apply w-full bg-white rounded border border-gray-300 focus:border-blue-500 focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  @apply bg-white sm:w-full lg:w-6/12 p-6 rounded-xl;
}
.form-header {
  @apply text-2xl text-gray-900 text-lg mb-1 font-medium;
}
.form-help-text {
  @apply leading-relaxed mb-4 text-gray-600 text-base font-normal;
}
.form-primary-button {
  @apply text-white bg-blue-500 border-0 py-2 px-6 focus:outline-none hover:bg-blue-600 rounded text-lg;
}
